# Created by https://www.gitignore.io/api/git,packer,terraform,ansible

### Ansible ###
*.retry
hosts

### Git ###
*.orig
TODO.md

### Packer ###
# Cache objects
packer_cache/
output-*/

# For built boxes
*.box

# For build artifacts
*.vdi

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

### Terraform Patch ###
*.tfvars

### custom ###
secrets
helm.gitlab.io

# End of https://www.gitignore.io/api/git,packer,terraform,ansible
